@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("./layout/footer/footer.css");
@import url("./layout/navbar/navbar.css");
:root {
  font-family: Roboto, sans-serif;
  --colorContrast: #e63946ff;
  --colorText: #f1faeeff;
  --colorLight: rgb(77, 154, 156);
  --colorDarker: rgb(28, 86, 122);
  --colorDarkest: rgb(15, 44, 83);
}

body {
  display: flex;
  flex-direction: column;

  background-color: var(--colorDarkest);
  color: var(--colorText);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

button {
  border: none;
}

button:hover {
  background-color: var(--colorContrast);
  color: white;
  border: none;
  cursor: pointer;
}
