footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--colorDarker);
  margin: 0;
  padding: 0;
}
footer > span {font-size: 2rem; margin: 0;display:inline-block; transform: rotate(180deg)}
